name: Lint project file in CI

on:
  push:
    branches: ["**"]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Recuperation du code
        uses: actions/checkout@v4

      - name: Set up nodeJs
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      - name: Build app
        run: npm run build

      - name: Lancement de eslint
        run: npm run lint
